@import "reset.css";
@import "typography.css";
@import "colors.css";

* {
  transition: all 0.2s ease;
}
body {
  background-image: url("../img/lance-anderson-QdAAasrZhdk-unsplash.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--color-bg);
  height: 10rem;
  display: flex;
  align-items: center;
  padding-inline: 4rem;
  /* box-shadow: 0px 0.3px 0.5px 0.1px #415a772f; */
  border-bottom: 0.2px solid #415a7728;
}
.header_navigation {
  display: grid;
  gap: 12rem;
  margin-left: auto;
}
.header_navigation ul li {
  display: inline;
  align-items: center;
  padding: 1rem;
}

.menu_link {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-main);
  /* text-decoration: none; */
}
.menu_link:hover {
  color: var(--accent-red);
}

.main {
  margin-bottom: 30rem;
  box-shadow: 0px 10px 10px 1px #415a772f;
}

/* .sidebar {
  height: 100dvh;
  background-color: var(--color-second);
  font-size: 1.8rem;
  font-weight: 100;
  color: var(--color-fifth);
  padding-inline: 2rem;
  box-shadow: 0.3rem 0 0.6rem 0.1rem #415a777c;
} */

/* .mainHeading {
  position: relative;
  display: grid;
  height: 15rem;
  place-content: center;
  color: var(--color-fifth);
  font-weight: 200;
} */
/* .subHeading { */
/* font-size: 0.7em;
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-fourth);
  text-align: center;
  padding-bottom: 1rem;
} */
/* .copyright {
  position: absolute;
  bottom: 0.8rem;
  right: 2rem;
  font-size: 1.2rem;
  color: var(--color-fourth-tint);
} */

.hero_container {
  display: grid;
  place-content: center;
  width: 40vw;
  height: 35rem;
  padding-inline: 2rem;
  margin-left: 2rem;
}
.slogan_text_content {
  font-size: 2.4rem;
  font-weight: 300;
  color: var(--color-third-tint);
}

.taskContainer {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-main);
  padding: 2rem 2rem 3rem 2rem;
  box-shadow: 0px -3px 10px 1px var(--color-shadow);
}
.main_tasks {
  background-color: var(--color-bg);
  width: fit-content;
  height: 10rem;
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.main_task {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.task_elemenet {
  font-weight: 200;
  color: var(--color-fourth-shade);
  padding-inline: 1rem;
}
.v_separator {
  width: 0.8px;
  height: 5rem;
  background-color: var(--color-fourth-tint);
}
.h_separator {
  width: 80%;
  height: 0.8px;
  margin: 2rem auto;
  background-color: var(--color-fifth-tint);
}

.text_container {
  padding-block: 2rem;
}

.project_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  padding: 4rem 5rem 10rem 5rem;
}
.pjck {
  position: relative;
}

.pjct_title {
  width: 100%;
  position: absolute;
  font-size: 1.6em;
  font-weight: 200;
  opacity: 1;
  color: var(--color-main-shade);
  z-index: 1;
  text-align: center;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.pjct_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0) brightness(1);
  scale: 1;
  transition: scale 0.5s ease-out, filter 0.5s ease-out;
  border-radius: 0.3rem;
}

.pjck:hover .pjct_title {
  color: var(--color-bg);
  opacity: 1;
  transform: translateY(-100%);
  touch-action: auto;
}

.pjck:hover .pjct_img {
  filter: blur(1px) grayscale(0.9) brightness(0.7);
  scale: 0.98;
  box-shadow: 0px 2px 4px 0px var(--color-shadow);
}

.footer {
  background-color: var(--color-bg);
  height: 10rem;
  display: flex;
  align-items: center;
  padding-inline: 4rem;
  margin-top: auto;
}

@media (max-width: 1024px) {
  h1 {
    font-size: clamp(1.6rem, 2vw, 3.2rem);
  }
}
